[submodule "tb/cpp/elfio"]
	path = tb/cpp/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "xlnx/rtl/verilog-axi"]
	path = xlnx/rtl/verilog-axi
	url = https://github.com/alexforencich/verilog-axi.git
[submodule "xlnx/rtl/wbuart32"]
	path = xlnx/rtl/wbuart32
	url = https://github.com/ZipCPU/wbuart32.git
[submodule "bus_arch_sv_pkg"]
	path = bus_arch_sv_pkg
	url = https://github.com/aignacio/bus_arch_sv_pkg.git
