[submodule "tb/cpp/elfio"]
	path = tb/cpp/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "xlnx/rtl/verilog-axi"]
	path = xlnx/rtl/verilog-axi
	url = https://github.com/alexforencich/verilog-axi.git
[submodule "xlnx/rtl/wbuart32"]
	path = xlnx/rtl/wbuart32
	url = https://github.com/ZipCPU/wbuart32.git
[submodule "sw/FreeRTOS/FreeRTOS-LTS-V10.4.6"]
	path = sw/FreeRTOS/FreeRTOS-LTS-V10.4.6
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
